In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('Actual_Generation_per_Production_Type_202001010000-202101010000.xlsx')
df.head()

,Actual Generation per Production Type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Aggregated Generation per Type [16.1.B&C],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Germany (DE) / 01.01.2020 00:00 - 01.01.2021 0...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTU,Biomass,Fossil Brown coal/Lignite,Fossil Coal-derived gas,Fossil Gas,Fossil Hard coal,Fossil Oil,Fossil Oil shale,Fossil Peat,Geothermal,...,Hydro Run-of-river and poundage,Hydro Water Reservoir,Marine,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
4,NaN,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,...,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated

In [3]:
df.head(10)

,Actual Generation per Production Type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Aggregated Generation per Type [16.1.B&C],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Germany (DE) / 01.01.2020 00:00 - 01.01.2021 0...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTU,Biomass,Fossil Brown coal/Lignite,Fossil Coal-derived gas,Fossil Gas,Fossil Hard coal,Fossil Oil,Fossil Oil shale,Fossil Peat,Geothermal,...,Hydro Run-of-river and poundage,Hydro Water Reservoir,Marine,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
4,NaN,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,...,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated,Actual Aggregated
5,NaN,[MW],[MW],[MW],[MW],[MW],[MW],[MW],[MW],[MW],...,[MW],[MW],[MW],[MW],[MW],[MW],[MW],[MW],[MW],[MW]
6,NaN,D,D,D,D,D,D,D,D,D,...,D,D,D,D,D,D,D,D,D,D
7,00:00 - 00:15,4865,9280,n/e,5077,1985,454,n/e,n/e,30,...,1320,54,n/e,8096,383,195,0,501,480,5909
8,00:15 - 00:30,4870,9304,n/e,4950,1948,454,n/e,n/e,30,...,1316,43,n/e,8083,377,192,0,507,483,5899
9,00:30 - 00:45,4859,9336,n/e,4857,1942,454,n/e,n/e,30,...,1311,43,n/e,8082,377,192,0,511,524,6116

In [4]:
df.dropna(axis='index', how='all', subset=['Actual Generation per Production Type'], inplace = True)

In [5]:
df.reset_index(drop=True, inplace = True)

In [6]:
df

,Actual Generation per Production Type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Aggregated Generation per Type [16.1.B&C],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Germany (DE) / 01.01.2020 00:00 - 01.01.2021 0...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MTU,Biomass,Fossil Brown coal/Lignite,Fossil Coal-derived gas,Fossil Gas,Fossil Hard coal,Fossil Oil,Fossil Oil shale,Fossil Peat,Geothermal,...,Hydro Run-of-river and poundage,Hydro Water Reservoir,Marine,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
3,00:00 - 00:15,4865,9280,n/e,5077,1985,454,n/e,n/e,30,...,1320,54,n/e,8096,383,195,0,501,480,5909
4,00:15 - 00:30,4870,9304,n/e,4950,1948,454,n/e,n/e,30,...,1316,43,n/e,8083,377,192,0,507,483,5899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35503,22:45 - 23:00,4592,11356,n/e,6802,4501,404,n/e,n/e,30,...,1172,31,n/e,8142,501,197,0,521,488,5022
35504,23:00 - 23:15,4603,11361,n/e,6760,4446,404,n/e,n/e,30,...,1170,17,n/e,8144,501,197,0,523,435,4913
35505,23:15 - 23:30,4601,11337,n/e,6646,4245,404,n/e,n/e,30,...,1171,23,n/e,8147,501,197,0,513,478,4718
35506,23:30 - 23:45,4590,11464,n/e,6288,4039,404,n/e,n/e,31,...,1169,28,n/e,8135,492,197,0,528,429,4582
35507,23:45 - 00:00,4604,11504,n/e,6128,4016,404,n/e,n/e,31,...,1167,25,n/e,8120,492,196,0,538,345,4435

In [7]:
df.drop(index=[0,1], inplace = True)

In [8]:
df.reset_index(drop=True, inplace = True)

In [9]:
df

,Actual Generation per Production Type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,MTU,Biomass,Fossil Brown coal/Lignite,Fossil Coal-derived gas,Fossil Gas,Fossil Hard coal,Fossil Oil,Fossil Oil shale,Fossil Peat,Geothermal,...,Hydro Run-of-river and poundage,Hydro Water Reservoir,Marine,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
1,00:00 - 00:15,4865,9280,n/e,5077,1985,454,n/e,n/e,30,...,1320,54,n/e,8096,383,195,0,501,480,5909
2,00:15 - 00:30,4870,9304,n/e,4950,1948,454,n/e,n/e,30,...,1316,43,n/e,8083,377,192,0,507,483,5899
3,00:30 - 00:45,4859,9336,n/e,4857,1942,454,n/e,n/e,30,...,1311,43,n/e,8082,377,192,0,511,524,6116
4,00:45 - 01:00,4852,9348,n/e,4782,1972,454,n/e,n/e,30,...,1311,39,n/e,8078,377,192,0,506,638,6244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35501,22:45 - 23:00,4592,11356,n/e,6802,4501,404,n/e,n/e,30,...,1172,31,n/e,8142,501,197,0,521,488,5022
35502,23:00 - 23:15,4603,11361,n/e,6760,4446,404,n/e,n/e,30,...,1170,17,n/e,8144,501,197,0,523,435,4913
35503,23:15 - 23:30,4601,11337,n/e,6646,4245,404,n/e,n/e,30,...,1171,23,n/e,8147,501,197,0,513,478,4718
35504,23:30 - 23:45,4590,11464,n/e,6288,4039,404,n/e,n/e,31,...,1169,28,n/e,8135,492,197,0,528,429,4582
35505,23:45 - 00:00,4604,11504,n/e,6128,4016,404,n/e,n/e,31,...,1167,25,n/e,8120,492,196,0,538,345,4435

In [10]:
df.rename(columns=df.iloc[0], inplace = True)

In [11]:
df

,MTU,Biomass,Fossil Brown coal/Lignite,Fossil Coal-derived gas,Fossil Gas,Fossil Hard coal,Fossil Oil,Fossil Oil shale,Fossil Peat,Geothermal,...,Hydro Run-of-river and poundage,Hydro Water Reservoir,Marine,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
0,MTU,Biomass,Fossil Brown coal/Lignite,Fossil Coal-derived gas,Fossil Gas,Fossil Hard coal,Fossil Oil,Fossil Oil shale,Fossil Peat,Geothermal,...,Hydro Run-of-river and poundage,Hydro Water Reservoir,Marine,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
1,00:00 - 00:15,4865,9280,n/e,5077,1985,454,n/e,n/e,30,...,1320,54,n/e,8096,383,195,0,501,480,5909
2,00:15 - 00:30,4870,9304,n/e,4950,1948,454,n/e,n/e,30,...,1316,43,n/e,8083,377,192,0,507,483,5899
3,00:30 - 00:45,4859,9336,n/e,4857,1942,454,n/e,n/e,30,...,1311,43,n/e,8082,377,192,0,511,524,6116
4,00:45 - 01:00,4852,9348,n/e,4782,1972,454,n/e,n/e,30,...,1311,39,n/e,8078,377,192,0,506,638,6244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35501,22:45 - 23:00,4592,11356,n/e,6802,4501,404,n/e,n/e,30,...,1172,31,n/e,8142,501,197,0,521,488,5022
35502,23:00 - 23:15,4603,11361,n/e,6760,4446,404,n/e,n/e,30,...,1170,17,n/e,8144,501,197,0,523,435,4913
35503,23:15 - 23:30,4601,11337,n/e,6646,4245,404,n/e,n/e,30,...,1171,23,n/e,8147,501,197,0,513,478,4718
35504,23:30 - 23:45,4590,11464,n/e,6288,4039,404,n/e,n/e,31,...,1169,28,n/e,8135,492,197,0,528,429,4582
35505,23:45 - 00:00,4604,11504,n/e,6128,4016,404,n/e,n/e,31,...,1167,25,n/e,8120,492,196,0,538,345,4435

In [12]:
df.columns

Index([                            'MTU',                         'Biomass',
             'Fossil Brown coal/Lignite',         'Fossil Coal-derived gas',
                            'Fossil Gas',                'Fossil Hard coal',
                            'Fossil Oil',                'Fossil Oil shale',
                           'Fossil Peat',                      'Geothermal',
                  'Hydro Pumped Storage',                               nan,
       'Hydro Run-of-river and poundage',           'Hydro Water Reservoir',
                                'Marine',                         'Nuclear',
                                 'Other',                 'Other renewable',
                                 'Solar',                           'Waste',
                         'Wind Offshore',                    'Wind Onshore'],
      dtype='object')

In [13]:
df.drop(index=0, inplace=True)

In [14]:
df.reset_index(drop=True, inplace=True)

In [15]:
df

,MTU,Biomass,Fossil Brown coal/Lignite,Fossil Coal-derived gas,Fossil Gas,Fossil Hard coal,Fossil Oil,Fossil Oil shale,Fossil Peat,Geothermal,...,Hydro Run-of-river and poundage,Hydro Water Reservoir,Marine,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
0,00:00 - 00:15,4865,9280,n/e,5077,1985,454,n/e,n/e,30,...,1320,54,n/e,8096,383,195,0,501,480,5909
1,00:15 - 00:30,4870,9304,n/e,4950,1948,454,n/e,n/e,30,...,1316,43,n/e,8083,377,192,0,507,483,5899
2,00:30 - 00:45,4859,9336,n/e,4857,1942,454,n/e,n/e,30,...,1311,43,n/e,8082,377,192,0,511,524,6116
3,00:45 - 01:00,4852,9348,n/e,4782,1972,454,n/e,n/e,30,...,1311,39,n/e,8078,377,192,0,506,638,6244
4,01:00 - 01:15,4851,9408,n/e,4587,1936,454,n/e,n/e,30,...,1311,64,n/e,8091,377,192,0,506,880,6065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35500,22:45 - 23:00,4592,11356,n/e,6802,4501,404,n/e,n/e,30,...,1172,31,n/e,8142,501,197,0,521,488,5022
35501,23:00 - 23:15,4603,11361,n/e,6760,4446,404,n/e,n/e,30,...,1170,17,n/e,8144,501,197,0,523,435,4913
35502,23:15 - 23:30,4601,11337,n/e,6646,4245,404,n/e,n/e,30,...,1171,23,n/e,8147,501,197,0,513,478,4718
35503,23:30 - 23:45,4590,11464,n/e,6288,4039,404,n/e,n/e,31,...,1169,28,n/e,8135,492,197,0,528,429,4582
35504,23:45 - 00:00,4604,11504,n/e,6128,4016,404,n/e,n/e,31,...,1167,25,n/e,8120,492,196,0,538,345,4435

In [16]:
df.rename(columns={"MTU": "Date and Time"}, inplace = True)

In [17]:
df

,Date and Time,Biomass,Fossil Brown coal/Lignite,Fossil Coal-derived gas,Fossil Gas,Fossil Hard coal,Fossil Oil,Fossil Oil shale,Fossil Peat,Geothermal,...,Hydro Run-of-river and poundage,Hydro Water Reservoir,Marine,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
0,00:00 - 00:15,4865,9280,n/e,5077,1985,454,n/e,n/e,30,...,1320,54,n/e,8096,383,195,0,501,480,5909
1,00:15 - 00:30,4870,9304,n/e,4950,1948,454,n/e,n/e,30,...,1316,43,n/e,8083,377,192,0,507,483,5899
2,00:30 - 00:45,4859,9336,n/e,4857,1942,454,n/e,n/e,30,...,1311,43,n/e,8082,377,192,0,511,524,6116
3,00:45 - 01:00,4852,9348,n/e,4782,1972,454,n/e,n/e,30,...,1311,39,n/e,8078,377,192,0,506,638,6244
4,01:00 - 01:15,4851,9408,n/e,4587,1936,454,n/e,n/e,30,...,1311,64,n/e,8091,377,192,0,506,880,6065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35500,22:45 - 23:00,4592,11356,n/e,6802,4501,404,n/e,n/e,30,...,1172,31,n/e,8142,501,197,0,521,488,5022
35501,23:00 - 23:15,4603,11361,n/e,6760,4446,404,n/e,n/e,30,...,1170,17,n/e,8144,501,197,0,523,435,4913
35502,23:15 - 23:30,4601,11337,n/e,6646,4245,404,n/e,n/e,30,...,1171,23,n/e,8147,501,197,0,513,478,4718
35503,23:30 - 23:45,4590,11464,n/e,6288,4039,404,n/e,n/e,31,...,1169,28,n/e,8135,492,197,0,528,429,4582
35504,23:45 - 00:00,4604,11504,n/e,6128,4016,404,n/e,n/e,31,...,1167,25,n/e,8120,492,196,0,538,345,4435

In [18]:
df.columns

Index([                  'Date and Time',                         'Biomass',
             'Fossil Brown coal/Lignite',         'Fossil Coal-derived gas',
                            'Fossil Gas',                'Fossil Hard coal',
                            'Fossil Oil',                'Fossil Oil shale',
                           'Fossil Peat',                      'Geothermal',
                  'Hydro Pumped Storage',                               nan,
       'Hydro Run-of-river and poundage',           'Hydro Water Reservoir',
                                'Marine',                         'Nuclear',
                                 'Other',                 'Other renewable',
                                 'Solar',                           'Waste',
                         'Wind Offshore',                    'Wind Onshore'],
      dtype='object')

In [19]:
df.replace('n/e', np.nan, inplace=True)

In [20]:
df.dropna(axis='columns', how='all', inplace=True)

In [21]:
df

,Date and Time,Biomass,Fossil Brown coal/Lignite,Fossil Gas,Fossil Hard coal,Fossil Oil,Geothermal,Hydro Pumped Storage,NaN,Hydro Run-of-river and poundage,Hydro Water Reservoir,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
0,00:00 - 00:15,4865,9280,5077,1985,454,30,1064,196,1320,54,8096,383,195,0,501,480,5909
1,00:15 - 00:30,4870,9304,4950,1948,454,30,509,264,1316,43,8083,377,192,0,507,483,5899
2,00:30 - 00:45,4859,9336,4857,1942,454,30,409,387,1311,43,8082,377,192,0,511,524,6116
3,00:45 - 01:00,4852,9348,4782,1972,454,30,211,517,1311,39,8078,377,192,0,506,638,6244
4,01:00 - 01:15,4851,9408,4587,1936,454,30,91,939,1311,64,8091,377,192,0,506,880,6065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35500,22:45 - 23:00,4592,11356,6802,4501,404,30,1057,16,1172,31,8142,501,197,0,521,488,5022
35501,23:00 - 23:15,4603,11361,6760,4446,404,30,971,456,1170,17,8144,501,197,0,523,435,4913
35502,23:15 - 23:30,4601,11337,6646,4245,404,30,666,579,1171,23,8147,501,197,0,513,478,4718
35503,23:30 - 23:45,4590,11464,6288,4039,404,31,580,194,1169,28,8135,492,197,0,528,429,4582
35504,23:45 - 00:00,4604,11504,6128,4016,404,31,275,488,1167,25,8120,492,196,0,538,345,4435

In [27]:
df.dropna(axis='rows', how='any', inplace=True)

In [ ]:
df.to_excel('Actual_Generation_per_Production_Type_modified.xlsx')

In [23]:
df.head(100)

,Date and Time,Biomass,Fossil Brown coal/Lignite,Fossil Gas,Fossil Hard coal,Fossil Oil,Geothermal,Hydro Pumped Storage,NaN,Hydro Run-of-river and poundage,Hydro Water Reservoir,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
0,00:00 - 00:15,4865,9280,5077,1985,454,30,1064,196,1320,54,8096,383,195,0,501,480,5909
1,00:15 - 00:30,4870,9304,4950,1948,454,30,509,264,1316,43,8083,377,192,0,507,483,5899
2,00:30 - 00:45,4859,9336,4857,1942,454,30,409,387,1311,43,8082,377,192,0,511,524,6116
3,00:45 - 01:00,4852,9348,4782,1972,454,30,211,517,1311,39,8078,377,192,0,506,638,6244
4,01:00 - 01:15,4851,9408,4587,1936,454,30,91,939,1311,64,8091,377,192,0,506,880,6065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,23:45 - 00:00,4864,11219,4631,1731,454,30,441,583,1287,29,8056,384,196,0,508,3929,8256
96,02.01.2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,00:00 - 00:15,4861,11172,4503,1665,454,30,250,1667,1290,83,8077,379,196,0,516,4047,8197
98,00:15 - 00:30,4876,11040,4544,1624,454,30,168,2035,1291,37,8071,378,196,0,516,4261,8074
99,00:30 - 00:45,4878,11012,4539,1601,454,30,219,3053,1292,41,8081,378,196,0,513,4284,7953